<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Page</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav></nav>
    <!-- Other pages content here -->
    <div layout:fragment="content">
      <br />
    </div>
    <!-- Other pages content end here -->
  </body>
</html>
